/* Макет для мобильных: */
@media only screen and (max-width: 390px) {
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    
    .wrapper {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 375px;
    }
    
    .w-100 {
        width: 100%;
    }
    
    .header {
        display: flex;
        height: 100px;
        background-color: #0000FF;
        color: #FFFFFF;
        padding: 35px 0px 36px 30px;
    }
    
    body {
        font-family: "Helvetica", "Arial", sans-serif;
        font-size: 25px;
        font-weight: bold;
    }
    
    .square {
        width: 330px;
        height: 165px;
        font-size: 25px;
        border: 5px solid #000000;
        background-color: #FFFFFF;
        color: #000000;
        display: flex;
        align-items: center;
        text-align: center;
    }
    
    .main {
        margin: 20px 0px 20px 0px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 41px;
    }
    
    .footer {
        display: flex;
        height: 100px;
        background-color: #0000FF;
        color: #FFFFFF;
        padding: 40px 42.25px 37px 23px;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        font-size: 20px;
    }
    
    .logo {
        display: flex;
        justify-content: flex-end;
    }
}


/* Макет для десктопов: */
@media only screen and (min-width: 844px) {
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    
    .wrapper {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 1440px;
    }
    
    .w-100 {
        width: 100%;
    }
    
    .header {
        display: flex;
        height: 100px;
        background-color: #0000FF;
        color: #FFFFFF;
        padding: 35px 0px 36px 30px;
    }
    
    body {
        font-family: "Helvetica", "Arial", sans-serif;
        font-size: 25px;
        font-weight: bold;
    }
    
    .square {
        width: 600px;
        height: 300px;
        font-size: 50px;
        border: 5px solid #000000;
        background-color: #FFFFFF;
        color: #000000;
        display: flex;
        align-items: center;
        text-align: center;
    }
    
    .main {
        margin: 102px 0px 102px 0px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }
    
    .footer {
        display: flex;
        height: 100px;
        background-color: #0000FF;
        color: #FFFFFF;
        padding: 35px 44.25px 36px 30px;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
    
    .logo {
        display: flex;
        justify-content: flex-end;
    }
}



