* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1440px;
}

.w-100 {
    width: 100%;
}

body {
    font-family: "Helvetica", "Arial", sans-serif;
    color: #FFFFFF;
    font-size: 20px;
}

.pt-21 {
    padding-top: 21px;
}

.header {
    background-color: #FE1A19;
    height: 60px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.main {
    display: flex;
    flex-direction: row;
    padding: 52px 70px
}

.p-33 {
    padding: 33px 0px 33px 33px;
}

.pl-20 {
    padding-left: 20px;
}

.f-times {
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
}

.square {
    border-radius: 30px;
    border: 5px solid #E5E000;
    width: 400px;
    height: max-content; /*нужен для точго чтобы бокс увеличивался с увеличением контента*/
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mr-50 {
    margin-right: 50px;
}

.footer {
    background-color: #FE1A19;
    height: 60px;
    display: flex;
    align-items: center;
    padding-right: 40px;
    font-weight: bold;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: flex-end;
}