* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #FE1A19;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-weight: bold;
}

.footer {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #FE1A19;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 40px;
    font-weight: bold;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: flex-end;
}